$color-primary:#5c8a03;
$color-primary-light:#82b21e;
$color-primary-dark:#264301;
$color-grey-dark: #777777;

$color-secondary-light: rgb(255, 185, 0);
$color-secondary-dark: rgb(255, 119, 48);

$color-tertiary-light:#2998ff;
$color-tertiary-dark:#5643fa;


$color-grey-light-1: #BFBFBF;
$color-grey-light-2: #77828c;

$color-grey-dark-2:#8C8C8C;
$color-grey-dark-3:#404040;

$color-white:#fff;
$color-black: #0D0D0D;

//grid
$grid-width:114rem;
$gutter-vertical:8rem;
$gutter-vertical-small:6rem;
$gutter-horizontal:6rem;

//font
$default-font-size:1.6rem;